{
  "ignore": [
    "src/server/public/bundle.js"
  ],
  "presets": [
    "node6",
    "async-to-bluebird",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-function-bind"
  ]
}
