<article id="getbusy">
  <h1>Get Busy!</h1>
  <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com/rouxmeet">join our meetup group</a>, <a href="http://www.twitter.com/rouxmeet">follow us on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com/rouxmeet">join our FaceBook group</a>.</p>
</article><!-- article -->