extends layout

block content
	h1= title
	ul 	  //   .- o-p [value]  .- object property [name]
		each flight, index in flights
			- flight = flight.getInformation()
			li= flight.number + ': ' + flight.origin + '-' + flight.destination
