<article class="socialmediaicons">
  <span class="title">Join the movement: </span>
  <ul class="group">
    <% appdata.social.forEach(function(item) { %>
      <li><a href="<%= item.url %>"><img class="icon" src="<%= item.img %>" alt="icon for <%= item.shortname %>"></a></li>
    <% }); %>
  </ul>
</article>