<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
    <% include partials/template/header.ejs %>
    <section class="layout">
      <div class="primary">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, repellat, sequi, provident, numquam eum ipsam tempora nesciunt laborum suscipit ab quod iure asperiores ipsum excepturi blanditiis quibusdam corrupti aut fugiat!</div>
      </div><!-- primary -->
      <aside class="secondary">
        <div>Deleniti, quibusdam, soluta corrupti minima nisi adipisci ut sapiente praesentium delectus blanditiis ullam modi consequatur inventore consectetur a eius sed autem fugiat obcaecati impedit enim tempora ipsum officia provident iure.</div>
      </aside><!-- secondary -->
    </section><!-- layout -->
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
