<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>airline</string>
		<string>chap02</string>
		<string>chap03</string>
		<string>chap05</string>
		<string>chap06</string>
		<string>chap07</string>
		<string>chap08</string>
		<string>chap09</string>
		<string>chap10</string>
		<string>command_line_tools</string>
		<string>make_your_own_module</string>
		<string>nodeJS Example</string>
		<string>nodeJS_WebApp</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>npm-debug.log</string>
		</array>
	</array>
</dict>
</plist>
