<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>asynchronous-read-file.js</string>
		</array>
		<array>
			<string>asynchronous-write-file.js</string>
		</array>
		<array>
			<string>clever.js</string>
		</array>
		<array>
			<string>clever.php</string>
		</array>
		<array>
			<string>index.js</string>
		</array>
		<array>
			<string>npm-debug.log</string>
		</array>
		<array>
			<string>read-parse-JSON.js</string>
		</array>
		<array>
			<string>server.js</string>
		</array>
		<array>
			<string>server2.js</string>
		</array>
		<array>
			<string>synchronous-read-file.js</string>
		</array>
		<array>
			<string>synchronous-write-file.js</string>
		</array>
		<array>
			<string>users.js</string>
		</array>
		<array>
			<string>watch.js</string>
		</array>
	</array>
</dict>
</plist>
