[user]
	name = alex-cory
	email = results@alexcory.com

[core]
	excludesfile = ~/.gitignore
	editor = /usr/local/bin/vim

[alias]
    ch = checkout
    gb = branch

# How To Alias: http://bit.ly/1EBiTKx
# Example Git Config: https://gist.github.com/pksunkara/988716
[push]
	default = simple
