<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>angular express blog example</string>
		<string>cli_tools</string>
		<string>databases</string>
		<string>flux</string>
		<string>node_test_DELETEme2</string>
		<string>nodeJs API</string>
		<string>nodeJS examples</string>
		<string>nodeJS_Lynda</string>
		<string>php download link</string>
		<string>python</string>
		<string>react</string>
		<string>regex</string>
		<string>vim</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>_general notes.md</string>
		</array>
		<array>
			<string>Alfred Shortcuts.txt</string>
		</array>
		<array>
			<string>ArrayList.java</string>
		</array>
		<array>
			<string>as Applescript Notebook.txt</string>
		</array>
		<array>
			<string>bash mv multiple files.bash</string>
		</array>
		<array>
			<string>bash.md</string>
		</array>
		<array>
			<string>Code Snippet Notebook.txt</string>
		</array>
		<array>
			<string>curl download file.sh</string>
		</array>
		<array>
			<string>deleteMe.php</string>
		</array>
		<array>
			<string>extract data from file.java</string>
		</array>
		<array>
			<string>flux react.md</string>
		</array>
		<array>
			<string>Git commands.txt</string>
		</array>
		<array>
			<string>Git History.txt</string>
		</array>
		<array>
			<string>git notes.md</string>
		</array>
		<array>
			<string>HTTP2.md</string>
		</array>
		<array>
			<string>iTerm2 Info+History.txt</string>
		</array>
		<array>
			<string>iTerm2 Shortcuts.txt</string>
		</array>
		<array>
			<string>iTerm2 Themes.txt</string>
		</array>
		<array>
			<string>javascript.md</string>
		</array>
		<array>
			<string>jq Code Style.js</string>
		</array>
		<array>
			<string>jq jQuery Notebook.js</string>
		</array>
		<array>
			<string>jq Selectors.js</string>
		</array>
		<array>
			<string>key Keyboard Shortcut Temp.txt</string>
		</array>
		<array>
			<string>key Most Used Keyboard Shortcuts.txt</string>
		</array>
		<array>
			<string>key My Info.txt</string>
		</array>
		<array>
			<string>key Template.txt</string>
		</array>
		<array>
			<string>list example.java</string>
		</array>
		<array>
			<string>Mac Shortcuts.txt</string>
		</array>
		<array>
			<string>Mac Troubleshooting.txt</string>
		</array>
		<array>
			<string>markdown.md</string>
		</array>
		<array>
			<string>MVC notes cit313.php</string>
		</array>
		<array>
			<string>networking.md</string>
		</array>
		<array>
			<string>nodeJS new project.js</string>
		</array>
		<array>
			<string>nodeJS setup.js</string>
		</array>
		<array>
			<string>overloading methods.java</string>
		</array>
		<array>
			<string>php BASE_URL vs ROOT_PATH.php</string>
		</array>
		<array>
			<string>PHP Debugging.php</string>
		</array>
		<array>
			<string>php executing applescript in php.php</string>
		</array>
		<array>
			<string>queues example.java</string>
		</array>
		<array>
			<string>regex notes.md</string>
		</array>
		<array>
			<string>RESTful.md</string>
		</array>
		<array>
			<string>Ruby Notebook.txt</string>
		</array>
		<array>
			<string>sc Google Docs Kebyboard Shortcuts.txt</string>
		</array>
		<array>
			<string>scp ftp.sh</string>
		</array>
		<array>
			<string>security.md</string>
		</array>
		<array>
			<string>sftp.md</string>
		</array>
		<array>
			<string>shell aliases.txt</string>
		</array>
		<array>
			<string>shell Console Essentials.txt</string>
		</array>
		<array>
			<string>shell Console Shortcuts.txt</string>
		</array>
		<array>
			<string>Shells Notebook.txt</string>
		</array>
		<array>
			<string>stack example.java</string>
		</array>
		<array>
			<string>Sublime Shortcuts.txt</string>
		</array>
		<array>
			<string>Sublime TODO.txt</string>
		</array>
		<array>
			<string>symlinks.md</string>
		</array>
		<array>
			<string>vim notes.md</string>
		</array>
		<array>
			<string>zend starter project notes.md</string>
		</array>
		<array>
			<string>ZSH History.txt</string>
		</array>
		<array>
			<string>ZSH Notebook.txt</string>
		</array>
		<array>
			<string>ZSH Tips &amp; Tricks.txt</string>
		</array>
	</array>
</dict>
</plist>
