<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>css</string>
		<string>data_structures</string>
		<string>databases</string>
		<string>flux</string>
		<string>java</string>
		<string>JavaScript</string>
		<string>keyboard_shortcuts</string>
		<string>misc</string>
		<string>mvc</string>
		<string>php</string>
		<string>python</string>
		<string>react</string>
		<string>regex</string>
		<string>rewrite_rules</string>
		<string>ruby</string>
		<string>shell</string>
		<string>Sublime Text</string>
		<string>version control</string>
		<string>vim</string>
		<string>machine_learning</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>algorithms.md</string>
		</array>
		<array>
			<string>bash.md</string>
		</array>
		<array>
			<string>big_o_notation.md</string>
		</array>
		<array>
			<string>commenting (all languages).md</string>
		</array>
		<array>
			<string>flux react.md</string>
		</array>
		<array>
			<string>high_performance_browser_networking.md</string>
		</array>
		<array>
			<string>HTTP2.md</string>
		</array>
		<array>
			<string>markdown.md</string>
		</array>
		<array>
			<string>networking.md</string>
		</array>
		<array>
			<string>RESTful.md</string>
		</array>
		<array>
			<string>security.md</string>
		</array>
		<array>
			<string>symlinks.md</string>
		</array>
	</array>
</dict>
</plist>
