<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>node_test_DELETEme2</string>
		<string>nodeJs API</string>
		<string>nodeJS examples</string>
		<string>nodeJS_Lynda</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>nodeJS new project.js</string>
		</array>
		<array>
			<string>nodeJS setup.js</string>
		</array>
	</array>
</dict>
</plist>
