<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Ack</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Ack</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Ack</string>
				</dict>
			</dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>CSS_Device_Media_Queries</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Device Media Queries</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Device_Media_Queries</string>
				</dict>
			</dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2018-07-06T18:11:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>React</key>
			<dict>
				<key>date</key>
				<date>2015-05-24T08:29:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React#readme</string>
					<key>authorLinkText</key>
					<string>Cheng Lou</string>
					<key>name</key>
					<string>React</string>
					<key>platform</key>
					<string>usercontribReact</string>
					<key>uniqueIdentifier</key>
					<string>React</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<true/>
	<key>annotationsAreShown</key>
	<true/>
	<key>bookmarks</key>
	<array/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Bash Shortcuts/Bash_Shortcuts.docset</key>
			<string>.b</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Regular Expressions/Regular_Expressions.docset</key>
			<string>.r</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Vim/Vim.docset</key>
			<string>.v:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/npm/npm.docset</key>
			<string>.n</string>
			<key>~/Library/Application Support/Dash/DocSets/Express/Express.docset</key>
			<string>exp</string>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Java_SE8/Java.docset</key>
			<string>java:</string>
			<key>~/Library/Application Support/Dash/DocSets/Lo-Dash/Lo-Dash.docset</key>
			<string>l</string>
			<key>~/Library/Application Support/Dash/DocSets/Markdown/Markdown.docset</key>
			<string>md:</string>
			<key>~/Library/Application Support/Dash/DocSets/NodeJS/NodeJS.docset</key>
			<string>n</string>
			<key>~/Library/Application Support/Dash/DocSets/Vim/Vim.docset</key>
			<string>v:</string>
			<key>~/Library/Application Support/Dash/User Contributed/React/React.docset</key>
			<string>r</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/AWS_JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apache_HTTP_Server.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AppleScript.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:58:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Arduino.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/BackboneJS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_3.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-30T10:29:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Emmet.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Flask.xml</key>
			<dict>
				<key>date</key>
				<date>2017-02-24T19:56:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Foundation.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Grunt.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/LaTeX.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-06T23:12:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Meteor.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Mongoose.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PHP.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-30T10:29:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-04T21:25:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sass.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Swift.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2015-03-10T23:42:09Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:58:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AngularJS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-06-09T20:46:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_2.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:58:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Compass.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:58:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Cordova.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:58:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Emacs_Lisp.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:59:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/EmberJS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:58:14Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_EE6.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:59:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_EE7.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:59:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE6.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:59:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE7.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:59:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Less.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:59:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PHPUnit.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T23:00:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T23:00:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T23:00:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_4.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T23:00:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery_Mobile.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:59:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery_UI.xml</key>
			<dict>
				<key>date</key>
				<date>2015-05-11T22:59:32Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>icon</key>
			<string>defaultProfileIconYosemite</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"⌥⌘D" is pressed</string>
					<key>image</key>
					<string>keyboardIcon</string>
					<key>isHotKeyTrigger</key>
					<true/>
					<key>keyCombo</key>
					<dict>
						<key>keyCode</key>
						<integer>2</integer>
						<key>modifiers</key>
						<integer>2304</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"⌥⌘S" is pressed</string>
					<key>image</key>
					<string>keyboardIcon</string>
					<key>isHotKeyTrigger</key>
					<true/>
					<key>keyCombo</key>
					<dict>
						<key>keyCode</key>
						<integer>1</integer>
						<key>modifiers</key>
						<integer>2304</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>97</integer>
		<key>modifiers</key>
		<integer>8388608</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>HUD</string>
</dict>
</plist>
