[client]
# skip-networking

## Automatically Switch to a Database On Sign-in
# database = set_to_current_database

## Automate the Login Process
# host     = localhost
# user     = root
# password =

## Modifying the mysql client prompt to reflect the name of the database you're currently using
# prompt = [\d]>

# Prevent Catastrophes with Safe Updates
# safe-updates

# Enable Tab Completion
# auto-rehash