<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>05_01</string>
		<string>05_02</string>
		<string>05_03</string>
		<string>05_04</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
